@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
}

body {
    font-family: var(--font-sans);
    background-color: #050505;
    color: #ffffff;
    overflow-x: hidden;
    cursor: none;
}

.font-mono {
    font-family: var(--font-mono);
}

::selection {
    background: rgba(0, 242, 255, 0.3);
    color: #00f2ff;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00f2ff;
}